
.galery_img_mini {
    width: 25%;
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 7px;
    cursor: pointer;
    opacity: 0.4;
    margin: 10px;
}

.galery_img_mini:hover {
    opacity: 1;
}

.galery_img_mini.active {
    opacity: 1;
}